<RadSideDrawer tkToggleNavButton>
    <StackLayout tkDrawerContent class="side-drawer">
        <AbsoluteLayout>            
            <Label text="Scoreo" color="lightgray" padding="20"></Label>
        </AbsoluteLayout>
        <ListView [items]="playerGridOptions" (itemTap)="playerGridOptionTap($event)" class="list-group">
            <ng-template let-playerGridOption="item" let-i="index" let-odd="odd" let-even="even">
                <GridLayout class="list-group-item">
                    <Label [text]="playerGridOption.name"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <StackLayout tkMainContent>
        <dashboard [playerGridOptionSubject]="playerGridOptionSubject"></dashboard>
    </StackLayout>
</RadSideDrawer>