<FlexboxLayout 
    tkMainContent
    flexDirection="column">
    <FlexboxLayout 
        flexDirection="column" 
        class="player" 
        [ngClass]="playerGridOption.gridClass" 
        *ngFor="let player of players">
        <Label [text]="player.name"></Label>
        <Button 
            class="btn btn-active btn-active" 
            text="+" 
            (tap)="incrementClicked(player, 1)"></Button>
        <Label 
            [text]="player.score" 
            class="score">test</Label>
        <Button 
            class="btn btn-primary btn-active" 
            text="-" 
            (tap)="incrementClicked(player, -1)"></Button>
    </FlexboxLayout>
</FlexboxLayout>